<html>
<head>
  <title>DWD class Enrollment 2010</title>
  <script type="text/javascript">
    function setup() {
      var datafromserver = "<%=namedata%>";
    }
    window.addEventListener('load', setup);
  </script>
  <style type="text/css">
    body {
      background-color: pink;
    }
   
    a:link {
      margin-top: 10px;
      color: #ff7272;
    }
    
    input[type="submit"] {
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;
      background-color: #ff7272;
      color: green;
      font-family: Open Sans;
      font-weight: Semi-Bold;
      font-size: 18px;
      outline: none;
    
    }
  </style>
</head>

<body>
  <div align="center">
    <h1> Search Result </h1>
    <form method="GET" action="/search">
      <input type='text' name="q" value="More names">
      <input type="submit" name="submit" value="Search">
    </form>
  </div>
  <div align="center">
    <% for (var i = 0; i < colordata.length; i++) { %>
          <%= namedata[i].theFirstName %>
          <%= namedata[i].theLastName %>
          <br />
      <% } %>
      <a href="/form.html">Back</a>
  </div>
</body>
</html>